<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Code for Asheville Voter Information API</h1>

    <p>You've reached the API site, but the API itself is at <a href="api">api</a>.</p>
  </div>
</div>

</body>
</html>
