<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="/cfa.png">
    </a>
    <h1>Code for Asheville Voter Information API</h1>

    <p>You've reached the API site, but the API itself is at <a href="api?lname=samplelastname&fname=samplefirstname">api</a>.</p>
  </div>
</div>

</body>
</html>
